html {
  width: 400;
  height: 875px;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(180deg, rgb(245, 130, 230), rgb(139, 205, 243));
}
h1 {
  font-family: "Tahoma";
  text-align: center;
  color: white;
  font-size: 500%;
}
#team_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}
#team_container img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}
#team_container img:hover {
  transform: scale(1.2);
}
.button_container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  margin-bottom: -10px;
}
.button_container .paste{
  background-color: rgb(245, 130, 230);
}
button {
  margin-bottom: 100px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: rgb(139, 205, 243);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  margin-bottom: -100px;
  transition: all 0.2s ease-in-out;
  border-width: 5px;
  border-color: black;
}

button:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}
h2 {
  color: white;
  display: flex;
  justify-content: right;
}
.social-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 450px;
  display: flex;
  justify-content: right;
  border-radius: 5px;
  border-color: white;
  border-width: 5px;
  margin-right: 5px;
}
.social-container h2 {
  font-family: "Tahoma";
  margin-top: 260px;
  margin-right: -140px;
}
.youtube img {
  margin-top: 320px;
  width: 50px;
}
.twitter img {
  margin-top: 350px;
  padding-left: 75%;
  width: 80px;
}
.tiktok img {
  width: 100px;
  margin-top: 400px;
  margin-left: -82px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 250%;
  }

  #team_container {
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-items: center;
    gap: 10px;
  }

  #team_container img {
    width: 100%;
    height: auto;
  }

  .button_container {
    bottom: 10%;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }

  .button_container button {
    margin-bottom: 10px;
    width: 80%;
    font-size: 30px;
  }
}
